cmake                     3.28.1
huggingface-hub           0.22.1
ninja                     1.11.1.1
nltk                      3.8.1
numpy                     1.26.0
outlines                  0.0.34
pandas                    2.1.4
peft                      0.7.1
PyYAML                    6.0.1
referencing               0.34.0
regex                     2023.12.25
requests                  2.31.0
requests-unixsocket       0.2.0
rouge-score               0.1.2
safetensors               0.4.1
scipy                     1.11.3
sentencepiece             0.1.99
setuptools                45.2.0
torch                     2.1.2
torchmetrics              1.2.0
tqdm                      4.66.1
transformers              4.40.0
urllib3                   1.25.8
uvicorn                   0.29.0
uvloop                    0.19.0
watchfiles                0.21.0
websockets                12.0
wheel                     0.34.2
xformers                  0.0.23.post1
yarl                      1.9.4
